.brands {
    &-wrapper {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    &-item {
        display: block;
        width: calc(25% - 15px);
        height: 150px;
        background-color: var(--white);
        border-radius: var(--radius);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--transition);

        &:hover {
            box-shadow: var(--shadow);
        }

        img {
            display: block;
            max-height: 100px;
            height: 100%;
            max-width: calc(100% - 25%);
            width: auto;
            object-fit: contain;
        }
    }
}
