.cart {
    &-empty {
        &-container {
            height: 80vh;
            gap: 24px;
            color: var(--darkgrey);
            i {
                font-size: 80px;
                color: var(--darkgrey);
            }

            h2 {
                font-size: 32px;
                font-weight: 600;
            }

            h5 {
                font-size: 18px;
            }

            a {
                padding: 14px 28px;
                font-size: 16px;
                background-color: var(--red);
                color: var(--white);

                &:hover {
                    transition: all 0.4s ease-in-out;
                    background-color: #7e1907;
                    color: var(--white);
                }
            }
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-item {
        display: flex;
        gap: 20px;
        padding: 20px;
        box-shadow: var(--shadow);

        &-image {
            display: block;
            width: 100px;
            height: 125px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-middle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
        }

        &-title {
            display: block;
            color: var(--dark);
            font-family: "Montserrat";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &-price {
            display: flex;
            flex-direction: column-reverse;
            gap: 8px;
            color: var(--dark);
            font-family: "Montserrat";

            .new {
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .old {
                font-size: 18px;
                color: var(--darkgrey);
                text-decoration: line-through;
            }
        }

        &-end {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .counter {
                .minus,
                .plus {
                    width: 36px;
                    height: 36px;
                    i {
                        font-size: 20px;
                    }
                }

                input {
                    width: 60px;
                    font-size: 16px;
                }
            }
        }

        &-delete {
            cursor: pointer;
            i {
                font-size: 24px;
                line-height: 1;
                color: var(--red);
            }
        }
    }

    &-actions {
        display: flex;
        padding: 40px 20px;
        flex-direction: column;
        gap: 20px;
        box-shadow: var(--shadow);
        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5 {
                color: var(--dark);
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px; /* 125% */
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            background-color: var(--red);
            border: 1px solid var(--red);
            color: var(--white);
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px 0;

            &:hover {
                transition: all 0.4s ease-in-out;
                background-color: #7e1907;
                color: var(--white);
            }

            i {
                font-size: 24px;
                line-height: 1;
            }
        }
    }
}

@media (max-width: 991px) {
    .cart {
        .col-12 {
            &:last-child {
                margin-top: 40px;
            }
        }

        &-wrapper {
            gap: 0;
        }

        &-item {
            box-shadow: unset;
            border-bottom: 1px solid var(--grey);
        }
    }
}

@media (max-width: 576px) {
    .cart {
        &-item {
            padding: 16px 0;
            gap: 8px;
            position: relative;
            &-image {
                width: 80px;
                height: 100px;
            }

            &-title {
                font-size: 14px;
                padding-right: 30px;
            }

            &-price {
                gap: 4px;
                .old {
                    line-height: 1;
                    font-size: 12px;
                }

                .new {
                    line-height: 1;
                    font-size: 16px;
                }
            }

            &-delete {
                i {
                    font-size: 18px;
                }
            }

            &-end {
                position: absolute;
                right: 0;
                top: 16px;
                height: 100%;
                .counter {
                    position: absolute;
                    bottom: 32px;
                    .minus,
                    .plus {
                        width: 24px;
                        height: 24px;

                        i {
                            font-size: 12px;
                        }
                    }

                    input {
                        width: 40px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }

        &-actions {
            padding: 16px;
            gap: 16px;

            &-top {
                h5 {
                    font-size: 18px;
                    margin-bottom: 0;
                }

                .price {
                    font-weight: 700;
                }
            }

            &-btn {
                font-size: 14px;
                font-weight: 400;
                i {
                    font-size: 18px;
                }
            }
        }
    }
}
