.card {
    width: 25%;
    background-color: var(--white);
    border-radius: var(--radius);
    border: unset;
    transition: var(--transition);
    overflow: hidden;

    &:hover {
        box-shadow: var(--shadow);
    }

    &-inner {
        display: flex;
        flex-direction: column;
        padding: 16px;
        position: relative;
    }

    &-image {
        width: 100%;
        max-height: 200px;
        height: 100%;
        margin-bottom: 8px;
        display: block;

        img {
            display: block;
            max-height: 200px;
            height: 100%;
            margin: 0 auto;
            object-fit: contain;
        }
    }

    &-label {
        background-color: var(--red);
        width: fit-content;
        position: absolute;
        top: 16px;
        left: 16px;
        color: var(--white);
        font-size: 12px;
        border-radius: var(--radius);
        padding: 3px 14px;
    }

    &-favorite {
        background-color: var(--green);
        width: fit-content;
        position: absolute;
        top: 16px;
        right: 16px;
        color: var(--white);
        border-radius: var(--radius);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            svg {
                fill: var(--red);

                path {
                    stroke: var(--red);
                    transition: var(--transition);
                }
            }
        }

        svg {
            width: 24px;
            height: 24px;

            path {
                transition: var(--transition);
            }
        }

        &.active {
            svg {
                fill: var(--red);

                path {
                    stroke: var(--red);
                    transition: var(--transition);
                }
            }
        }
    }

    &-body {
        padding: 0;
    }

    &-partnumber {
        color: var(--dark-grey);
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &-name {
        color: var(--black);
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 16px;
        height: 52px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-prices {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;

        &-new {
            color: var(--black);
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
        }

        &-old {
            color: var(--dark-grey);
            text-decoration: line-through;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 0;
        }
    }

    &-delivery {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--black);
        font-size: 14px;
        margin-bottom: 16px;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &-btn {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 18px;
        font-weight: 500;
    }

    &-viewed {
        display: flex;
        flex-direction: row;
        padding: 8px;
        gap: 8px;

        &-img {
            width: 80px;
            height: 80px;
            display: block;
            flex: 0 0 auto;

            img {
                max-width: 80px;
                width: 100%;
                height: auto;
            }
        }

        &-texts {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-title {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0;
            color: var(--black);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 38px;
        }

        &-price {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
            color: var(--black);
        }

        &-favorite {
            svg {
                path {
                    stroke: var(--red);
                }
            }

            &:hover {
                transition: var(--transition);
                svg {
                    fill: var(--red);
                }
            }

            &.active {
                transition: var(--transition);
                svg {
                    fill: var(--red);
                    path {
                        stroke: var(--red);
                    }
                }
            }
        }
    }
}
