.cards {
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &-title {
        color: var(--black);
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 0;
    }

    &-btns {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &-btn {
        width: 40px;
        height: 40px;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    &-carousel,
    &-carousel-second,
    .news-carousel {
        margin: -20px;
        padding: 20px;
    }
}
