.category {
    &-wrapper {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    &-item {
        border-radius: 12px;
        background: #f4f4f4;
        padding: 12px;
        width: 195px;
        height: 85px;
        position: relative;
        display: block;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        &:nth-child(-n + 6) {
            width: calc(16% - 10px);
        }

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10) {
            width: calc(20% - 16px);
        }
        &:hover {
            background-color: var(--red);
            h4 {
                color: var(--white);
            }
        }

        h4 {
            color: var(--dark);
            font-size: 14px;
            font-weight: 500;
            line-height: 18px; /* 128.571% */
            width: 98px;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            height: 85px;
            width: 116px;
            object-fit: cover;
        }
    }

    &-main {
        display: block;
        max-width: 309px;
        height: 309px;
        width: calc(25% - 15px);
        background: var(--white);
        padding: 30px;
        box-shadow: var(--shadow);
        position: relative;
        overflow: hidden;

        &-title {
            color: var(--dark);
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-circle {
            position: absolute;
            width: 242px;
            height: 242px;
            background-color: #f46a53;
            border-radius: 100%;
            right: -45px;
            bottom: -85px;
        }

        &-img {
            width: 120px;
            height: 200px;
            object-fit: contain;
            position: absolute;
            bottom: 0;
            z-index: 2;
            right: 25px;
        }
    }
}

@media (max-width: 1400px) {
    .category {
        &-main {
            height: 264px;

            &-img {
                height: 180px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .category {
        &-item {
            width: calc(25% - 15px) !important;
            &:nth-child(-n + 6) {
                width: unset;
            }
        }

        &-main {
            height: 219px;
            &-title {
                font-size: 20px;
            }

            &-circle {
                right: -80px;
                bottom: -110px;
            }

            &-img {
                width: 90px;
                height: 150px;
                right: 15px;
            }
        }
    }
}
@media (max-width: 992px) {
    .category {
        &-wrapper {
            gap: 10px;
        }
        &-item {
            width: calc(33% - 5px) !important;
            &:nth-child(-n + 6) {
                width: unset;
            }
        }
        &-main {
            width: calc(33% - 5px);
        }
    }
}

@media (max-width: 768px) {
    .category {
        &-main {
            width: calc(50% - 5px);
            &-title {
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 525px) {
    .category {
        &-item {
            width: calc(50% - 5px) !important;
        }

        &-main {
            height: 194px;

            &-circle {
                width: 220px;
                height: 220px;
            }

            &-img {
                height: 120px;
                width: 75px;
            }
        }
    }
}
