.header {
    border-bottom: 1px solid var(--grey);
    &-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 0;
        list-style-type: none;
        gap: 30px;
        margin-bottom: 0;
        position: relative;
        flex: 0 0 60%;
    }

    &-item {
        padding: 16px 0;
        transition: all 0.3s ease-in-out;
        &:last-child {
            width: unset;
            flex: 0;
        }

        &:hover {
            .header-item-bottom {
                display: flex;
                z-index: 9;
            }
        }

        &-top {
            color: var(--dark);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            cursor: pointer;
            white-space: nowrap;

            i {
                font-size: 24px;
            }
        }

        &-bottom {
            transition: all 0.3s ease-in-out;
            position: absolute;
            max-width: 220px;
            width: 100%;
            top: 56px;
            padding: 16px;
            box-shadow: var(--shadow);
            display: none;
            flex-direction: column;
            gap: 8px;
            border-top: 1px solid var(--red);
            background-color: var(--white);
            img {
                height: 20px;
                width: fit-content;
                object-fit: contain;
                display: block;
                margin-left: 0;
            }
            p {
                color: var(--dark);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
                margin-bottom: 0;
            }
            .divider {
                width: 100%;
                border-bottom: 1px dashed var(--grey);
                margin: 8px 0;
            }
        }

        &-call {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &-item {
                display: flex;
                gap: 8px;
                align-items: center;
                text-decoration: none;
                color: var(--dark);
                font-size: 14px;
                font-weight: 400;
                span {
                    width: 28px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--green);
                    i {
                        font-size: 16px;
                        color: var(--white);
                    }
                }
            }
        }
    }

    &-cart {
        padding: 20px 0;
        border-bottom: 1px solid var(--grey);
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        &-back {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            color: var(--dark);
            font-weight: 600;
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-logo {
            display: block;
            height: 30px;
            img {
                height: 100%;
            }
        }
    }

    &-wrapper {
        justify-content: flex-end;
        align-items: center;
    }

    &-logo {
        height: 26px;
        display: none;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: 992px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--white);
        width: 100%;
        z-index: 20;
        &-wrapper {
            justify-content: space-between;
        }
        &-logo {
            display: block;
        }
        &-list {
            gap: 20px;
        }

        &-item {
            &:last-child {
                display: none;
            }
            &-top {
                font-size: 0;
            }
            &-bottom {
                right: 0;
            }
        }
    }
}
