.offcanvas {
    &-header {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        padding: 20px 15px;
        h4 {
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 700;
        }
    }
    &-start {
        top: 55px !important;
    }

    &-list {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        list-style-type: none;
        li {
            a {
                display: block;
                color: var(--dark);
                padding: 15px 0 15px 15px;
                font-size: 16px;
                font-weight: 600;
                border-bottom: 1px solid var(--grey);
                &:hover {
                    background-color: var(--red);
                    color: var(--white);
                }
            }
        }
    }
}
