.search {
    display: none;
    &-wrapper {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 8px 16px;
        gap: 16px;
        border: 1px solid var(--grey);
        margin-top: 10px;
        i {
            font-size: 24px;
        }
        input {
            width: 100%;
            border: unset;
            font-size: 16px;
        }
    }
}

@media (max-width: 992px) {
    .search {
        display: block;
    }
}
