.success {
    &-wrapper {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    &-title {
        color: var(--dark);
        font-size: 32px;
        text-align: center;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    &-text {
        color: var(--DarkestGray, #8d8d8d);
        text-align: center;
        font-family: Montserrat Alternates;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-variant: small-caps;
    }

    &-back {
        display: flex;
        padding: 14px 28px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: var(--Red, #bd280f);
        color: var(--white);
        transition: all 0.4s ease-in-out;

        &:hover {
            background: var(--hover);
            color: var(--white);
        }
    }
}

@media (max-width: 576px) {
    .success {
        &-title {
            font-size: 24px;
        }
        &-text {
            font-size: 16px;
        }

        &-back {
            width: 100%;
            height: 45px;
        }
    }
}
